body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.container {
    box-shadow: 5px 10px #888888 v;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    z-index: 1;
}

.navbar-brand {
    font-weight: bold;
    font-size: 30px;
}

.navbar-menu {
    font-size: 14pt;
    position: absolute;
    right: 10%;
    top: 5px;
    right: 5px;
}

.brand {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.menu {
    text-decoration: none;
    margin-left: 30px;
    color: white;
    font-size: 12pt;
    padding-bottom: 5px;
}

.menu:hover {
    border-bottom: 3px solid white;
}

#menu-join {
    border: 2px solid white;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 40px;
}

#menu-join:hover {
    background: white;
    color: black;
}

.jumbotron {
    background-image: url(daniel-zacatenco-sx0cAH8TEYk-unsplash.jpg);
    background-size: cover;
    margin-top: -90px;
    height: 650px;
    color: white;
    padding-top: 100px;
    align-content: center;
    text-align: center;
    position: relative;
}



.facebook {
    width: 300px;
    margin-top: 100px;
    margin-right: 100px;
}

.instagram {
    width: 300px;
}

.Footer{
    color: lightyellow;
    background-color: rgb(53, 65, 78);
    width: 90%;
    margin: 0px 70px;
    margin-left: 0px;
    margin-right: 0px;
    /* background-image: url(Gambar/Exploded.jpg); */
    text-align: center;
    padding: 7px 90px;
    font-size: 20px;
}